<div class="container-fluid padding cont">
   <h1 class="academics">Academics</h1><p class="acad_p"> Schools and Faculties</p>
    <div class="blue_border"></div>
	<div class="row padding acadbox">
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
			<img src="../../assets/images/image 1.png" class="img-fluid inner_img">
            <div class="blue_design1">Engineering</div>
		</div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
			<h2>Engineering</h2>
			<p>We have long been at the forefront of breakthrough research and innovation. We offer several degree programs, major, minor and specializations, as well as research opportunities, to follow your passion.</p>
		<br>
		<a href="#" class=" button grow">More>></a>
		</div>
	</div>
<!-- academic box-1  -->
    <div class="row padding acadbox">
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
			<img src="../../assets/images/image 1.png" class="img-fluid inner_img">
            <div class="blue_design1">Engineering</div>
		</div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
			<h2>Engineering</h2>
			<p>We have long been at the forefront of breakthrough research and innovation. We offer several degree programs, major, minor and specializations, as well as research opportunities, to follow your passion.</p>
		<br>
		<a href="#" class=" button grow">More>></a>
		</div>
	</div>
<!-- academic box-2  -->
    <div class="row padding acadbox">
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
			<img src="../../assets/images/image 1.png" class="img-fluid inner_img">
            <div class="blue_design1">Engineering</div>
		</div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
			<h2>Engineering</h2>
			<p>We have long been at the forefront of breakthrough research and innovation. We offer several degree programs, major, minor and specializations, as well as research opportunities, to follow your passion.</p>
		<br>
		<a href="#" class=" button grow">More>></a>
		</div>
	</div>
<!-- academic box-3  -->
    <div class="row padding acadbox">
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
			<img src="../../assets/images/image 1.png" class="img-fluid inner_img">
            <div class="blue_design1">Engineering</div>
		</div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
			<h2>Engineering</h2>
			<p>We have long been at the forefront of breakthrough research and innovation. We offer several degree programs, major, minor and specializations, as well as research opportunities, to follow your passion.</p>
			
		<br>
		<a href="#" class=" button grow">More>></a>
		</div>
	</div>
<!-- academic box-4  -->
    <div class="row acadbox">
		<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
			<img src="../../assets/images/image 1.png" class="img-fluid inner_img">
            <div class="blue_design1">Engineering</div>
		</div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
			<h2>Engineering</h2>
			<p>We have long been at the forefront of breakthrough research and innovation. We offer several degree programs, major, minor and specializations, as well as research opportunities, to follow your passion.</p>
		<br>
		<a href="#" class=" button grow">More>></a>
		</div>
	</div>
</div>
<!-- academic links  -->
<div class="container-fluid padding">
<div class="row padding links"> 
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center grow">
        <a href="#" class=" link">Hotel Management</a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 col-xl-1 d-flex justify-content-center grow">
        <a href="#" class=" link">Law</a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 d-flex justify-content-center grow">
        <a href="#" class=" link">Agricultural Sciences</a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center grow">
        <a href="#" class=" link">Distant Education</a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center grow">
        <a href="#" class=" link5">Online Education</a>
    </div>
</div>
</div>
<br>
<br>
