<p class="lat">Latest News</p>
<p class="more1">More >></p>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7">
            <div class="card">
                <img src="image 1.png" class="newsimg">
                <p class="newstxt1">SRM Founder Chancellor
                    donates Rs.1.15 Crores<br><br><span class="newstxt2"></span>SRM Founder Chancellor donates
                    Rs.1.15 Crores towards CMPRF.</p>
                <p class="more">More</p>
            </div>
            <div class="card">
                <img src="image 1.png" class="newsimg">
                <p class="newstxt1">SRM Founder Chancellor donates Rs.1.15 Crores<br><br><span
                        class="newstxt2"></span>SRM
                    Founder Chancellor donates Rs.1.15 Crores towards CMPRF.</p>
                <p class="more">More</p>
            </div>
            <div class="card">
                <img src="image 1.png" class="newsimg">
                <p class="newstxt1">SRM Founder Chancellor donates Rs.1.15 Crores<br><br><span
                        class="newstxt2"></span>SRM
                    Founder Chancellor donates Rs.1.15 Crores towards CMPRF.</p>
                <p class="more">More</p>
            </div>
        </div>
        <div class="col-lg-5" id="aubox">
            <div class="hope">
                <p class="au">Admission Updates</p>
                <p class="srmjee">SRMJEE 2021: Updates</p>
                <p class="srmjee">SRMJEE 2021: Updates</p>
                <p class="srmjee">SRMJEE 2021: Updates</p>
                <p class="srmjee">SRMJEE 2021: Updates</p>
                <p class="srmjee">SRMJEE 2021: Updates</p>
                <p class="srmjee">SRMJEE 2021: Updates</p>
                <p class="srmjee">SRMJEE 2021: Updates</p>
                <p class="srmjee">SRMJEE 2021: Updates</p>
                <p class="chance">Chancellor Constituency Scholarship 2021-Merit List</p>
                <p class="impor">Important</p>
                <p class="sop">SOP for Post COVID-19</p>
            </div>
        </div>
    </div>
</div>
<p class="srme">SRM Events <span class="whats">What's happening on campus</span></p>
<p class="more1">More >></p>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7">
            <div class="card">
                <img src="image 1.png" class="newsimg">
                <p class="newstxt1">16th Annual Convocation<br><br><span class="newstxt2"></span>SRMIST's 16th Annual
                        Convocation will be held virtually. Rank Holders will be awarded their degrees in person.</p>
                <p class="more">More</p>
            </div>
            <div class="card">
                <img src="image 1.png" class="newsimg">
                <p class="newstxt1">16th Annual Convocation<br><br><span class="newstxt2"></span>SRMIST's 16th Annual
                        Convocation will be held virtually. Rank Holders will be awarded their degrees in person.</p>
                <p class="more">More</p>
            </div>
            <div class="card">
                <img src="image 1.png" class="newsimg">
                <p class="newstxt1">16th Annual Convocation<br><br><span class="newstxt2"></span>SRMIST's 16th Annual
                        Convocation will be held virtually. Rank Holders will be awarded their degrees in person.</p>
                <p class="more">More</p>
            </div>
        </div>
        <div class="col-lg-5" id="aubox1">
            <!-- <p class="date">DEC 16<br>2021</p>
                <p class="inc">International Conference</p>
                <p class="orga">Organized by the Department</p>
                <p class="date1">Apr 21, 2021, 10:30 AM</p> -->
            <div class="hope3">
                <div class="col">
                    <p class="date">DEC 16<br>2021</p>
                </div>
                <div class="longcol">
                    <p class="inc">International Conference</p>
                    <p class="orga">Organized by the Department</p>
                    <p class="date1">Apr 21, 2021, 10:30 AM</p>
                </div>
            </div>
            <div class="hope3">
                <div class="col">
                    <p class="date">DEC 16<br>2021</p>
                </div>
                <div class="longcol">
                    <p class="inc">International Conference</p>
                    <p class="orga">Organized by the Department</p>
                    <p class="date1">Apr 21, 2021, 10:30 AM</p>
                </div>
            </div>
            <div class="hope3">
                <div class="col">
                    <p class="date">DEC 16<br>2021</p>
                </div>
                <div class="longcol">
                    <p class="inc">International Conference</p>
                    <p class="orga">Organized by the Department</p>
                    <p class="date1">Apr 21, 2021, 10:30 AM</p>
                </div>
            </div>
            <div class="hope3">
                <div class="col">
                    <p class="date">DEC 16<br>2021</p>
                </div>
                <div class="longcol">
                    <p class="inc">International Conference</p>
                    <p class="orga">Organized by the Department</p>
                    <p class="date1">Apr 21, 2021, 10:30 AM</p>
                </div>
            </div>
            <div class="hope3">
                <div class="col">
                    <p class="date">DEC 16<br>2021</p>
                </div>
                <div class="longcol">
                    <p class="inc">International Conference</p>
                    <p class="orga">Organized by the Department</p>
                    <p class="date1">Apr 21, 2021, 10:30 AM</p>
                </div>
            </div>
            <div class="hope3">
                <div class="col">
                    <p class="date">DEC 16<br>2021</p>
                </div>
                <div class="longcol">
                    <p class="inc">International Conference</p>
                    <p class="orga">Organized by the Department</p>
                    <p class="date1">Apr 21, 2021, 10:30 AM</p>
                </div>
            </div>
            <div class="hope3">
                <div class="col">
                    <p class="date">DEC 16<br>2021</p>
                </div>
                <div class="longcol">
                    <p class="inc">International Conference</p>
                    <p class="orga">Organized by the Department</p>
                    <p class="date1">Apr 21, 2021, 10:30 AM</p>
                </div>
            </div>
            <div class="hope3">
                <div class="col">
                    <p class="date">DEC 16<br>2021</p>
                </div>
                <div class="longcol">
                    <p class="inc">International Conference</p>
                    <p class="orga">Organized by the Department</p>
                    <p class="date1">Apr 21, 2021, 10:30 AM</p>
                </div>
            </div>
            <div class="hope3">
                <div class="col">
                    <p class="date">DEC 16<br>2021</p>
                </div>
                <div class="longcol">
                    <p class="inc">International Conference</p>
                    <p class="orga">Organized by the Department</p>
                    <p class="date1">Apr 21, 2021, 10:30 AM</p>
                </div>
            </div>
            <div class="hope3">
                <div class="col">
                    <p class="date">DEC 16<br>2021</p>
                </div>
                <div class="longcol">
                    <p class="inc">International Conference</p>
                    <p class="orga">Organized by the Department</p>
                    <p class="date1">Apr 21, 2021, 10:30 AM</p>
                </div>
            </div>
        </div>
    </div>
</div>