<div class="container-fluid padding cont">
    <h1 class="campus">Campus Life</h1><p class="campus_p"> A thriving community of creative and accomplished people from around the world</p>
     <div class="blue_border"></div>

     <div class="container text-center my-3">
    <div class="row mx-auto my-auto">
        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
               
                <div class="carousel-item active">
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../../assets/images/image 1.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">1Nanotechnology Research</h5>
                              <p class="card-text">Characterization of cutting-edge nanostructured materials</p>
                              <a href="#" class="btn btn-primary btn-sm sm">More>></a>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../../assets/images/image 1.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">2Nanotechnology Research</h5>
                              <p class="card-text">Characterization of cutting-edge nanostructured materials</p>
                              <a href="#" class="btn btn-primary btn-sm sm">More>></a>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../../assets/images/image 1.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">3Nanotechnology Research</h5>
                              <p class="card-text">Characterization of cutting-edge nanostructured materials</p>
                              <a href="#" class="btn btn-primary btn-sm sm">More>></a>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../../assets/images/image 1.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">4Nanotechnology Research</h5>
                              <p class="card-text">Characterization of cutting-edge nanostructured materials</p>
                              <a href="#" class="btn btn-primary btn-sm sm">More>></a>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../../assets/images/image 1.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">5Nanotechnology Research</h5>
                              <p class="card-text">Characterization of cutting-edge nanostructured materials</p>
                              <a href="#" class="btn btn-primary btn-sm sm">More>></a>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../../assets/images/image 1.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">6Nanotechnology Research</h5>
                              <p class="card-text">Characterization of cutting-edge nanostructured materials</p>
                              <a href="#" class="btn btn-primary btn-sm ">More>></a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <ol class="carousel-indicators">
                <li data-target="#recipeCarousel" data-slide-to="1" class="active"></li>
                <li data-target="#recipeCarousel" data-slide-to="2"></li>
                <li data-target="#recipeCarousel" data-slide-to="3"></li>
                <li data-target="#recipeCarousel" data-slide-to="4"></li>
                <li data-target="#recipeCarousel" data-slide-to="5"></li>
                <li data-target="#recipeCarousel" data-slide-to="6"></li>
                <li data-target="#recipeCarousel" data-slide-to="0"></li>
              </ol>
        </div>
    </div>
    
</div>