<section class="admission">
    <div class="addmission">
        <div class="container-fluid cont">
        <h1 class="campus">Admission</h1><p class="campus_p"> A thriving community of creative and accomplished people from around the world</p>
        <div class="blue_border"></div>
    </div>
    </div>
    <div class="admissionSection">
        <div class="container">
            <img src="image 1.png" class="img-fluid" alt="admission">
            <img class="blue-box"src="assets/images/Rectangle 5.png" alt="wallpaper">
            <img class="textImg"src="assets/images/Admission1.png"alt="admission">
            <img class="right-blue-box"src="assets/images/Rectangle 59.png"alt="Rectangle">
            <a href=#><img class="apply"src="assets/images/Apply.png"alt="apply"></a>
        </div>
    </div>
    <div class="admissionSection">
        <div class="container">
            <img src="image 1.png" class="img-fluid" alt="admission">
            <img class="blue-box"src="assets/images/Rectangle 5.png" alt="wallpaper">
            <img class="textImg"src="assets/images/Admission International.png"alt="admission">
            <img class="right-blue-box"src="assets/images/Rectangle 59.png"alt="Rectangle">
            <a href=#><img class="apply"src="assets/images/Apply.png"alt="apply"></a>
        </div>
    </div>

</section>