li :hover{
    background-color: #8080806b;
    border-radius: 4px;
    transition: 0.1s ease;
}
.itemActive{
    background-color: #8080806b;
    border-radius: 4px;
    transition: 0.1s ease;
}
/*-----SMALL SCREENS------*/
@media only screen and (max-width: 767px){
    .image-box{
        background-image: url("src\assets\images\image 1.png");
        background-position: center;
        background-size: cover;
        height: 100vh;
        background-attachment: fixed;
        opacity: 0.79;
    }
    .bg-dark{
        background: transparent  !important;   
    }
    .bg-dark.scrolled{
        background: white !important;
    }
    .nav-link{
        color: black !important;
    }
    .navbar-toggler{
        background-color: #737272cc !important;
    }
    .blue-box{
        width: 93%;
        position: absolute;
        top: 52%;
        height: 8em;
        opacity: 0.8;
        box-shadow: -13px 8px 7px 6px #48658dba;
    }
    .text-box{
        position: absolute;
        top: 53%;
        left: 5%;
        color: black;
        font-size: 55px;
        font-weight: 500;
        line-height: 1;
    }
    .container{
        position: absolute;
        top: 75%;
    }
    .row{
        padding: 0 2%;
    }
    .startApplicationbtn{
        border-radius: 42px;
        background-color: #195aa0a1;
    }
    .startApplicationbtn:hover{
        transform: scale(1.01);
        transition: 0.2s ease;
    }

}

/*-----TAB SCREENS--------*/
@media only screen and (min-width: 767px){
    .image-box{
        background-image: url("src\assets\images\image 1.png");
        background-position: center;
        background-size: cover;
        height: 100vh;
        background-attachment: fixed;
        opacity: 0.79;
    }
    .bg-dark{
        background: transparent  !important;   
    }
    .bg-dark.scrolled{
        background: white !important;
    }
    .nav-link{
        color: black !important;
    }
    .navbar-toggler{
        background-color: #737272cc !important;
    }
    .blue-box{
        width: 62%;
        position: absolute;
        top: 53%;
        height: 9em;
        opacity: 0.8;
        box-shadow: -13px 8px 7px 6px #48658dba;
    }
    .text-box{
        position: absolute;
        top: 53%;
        left: 5%;
        color: black;
        font-size: 65px;
        font-weight: 500;
        line-height: 1;
    }
    ul{
        width: 60%;
    }
    li{
        margin-left: 1%;
    }
    .container{
        position: absolute;
        top: 82%;
    }
    .row{
        padding: 0 2%;
        width: 60%;
    }
    .startApplicationbtn{
        border-radius: 42px;
        background-color: #195aa0a1;
    }
    .startApplicationbtn:hover{
        transform: scale(1.03);
        transition: 0.2s ease;
    }

    
}

/*-----BIG SCREENS--------*/
@media only screen and (min-width: 1200px){
    .image-box{
        background-image: url("src\assets\images\image 1.png");
        background-position: center;
        background-size: cover;
        height: 100vh;
        background-attachment: fixed;
        opacity: 0.79;
    }
    .bg-dark{
        background: transparent  !important;   
    }
    .bg-dark.scrolled{
        background: white !important;
    }
    .nav-link{
        color: black !important;
    }
    .blue-box{
        width: 45%;
        position: absolute;
        top: 53%;
        height: 9em;
        opacity: 0.8;
        box-shadow: -13px 8px 7px 6px #48658dba;
    }
    .text-box{
        position: absolute;
        top: 53%;
        left: 5%;
        color: black;
        font-size: 65px;
        font-weight: 500;
        line-height: 1;
    }
    ul{
        width: 60%;
    }
    li{
        margin-left: 1%;
    }
    .container{
        position: absolute;
        top: 79%;
    }
    .row{
        padding: 0 2%;
        width: 48%;
    }
    .startApplicationbtn{
        border-radius: 42px;
        background-color: #195aa0a1;
    }
    .startApplicationbtn:hover{
        transform: scale(1.03);
        transition: 0.2s ease;
    }

}